# cache
.vscode
__pycache__

*.zip
biostructures_cleaned.csv/
data/
finetune/
experiments/
ckpt/
apex/
config.yaml
temp.py
config_finetune.yaml
venv/
test2.py
*.png
.ipynb_checkpoints/
dataset/**/.ipynb_checkpoints/